.root {
    -fx-background-color: #b0aac0;
    -fx-font-family: "Verdana", "DejaVu Sans", "SansSerif";
}

.main {
    -fx-background-color:  #f0efef;
}

.main-header {
    -fx-text-fill: #776d94;
    -fx-font-size: 40pt;
}

.table-header {
    -fx-text-fill: #776d94;
    -fx-font-size: 22pt;
    -fx-font-style: italic;
}

.input-label {
    -fx-text-fill: #776d94;
    -fx-font-size: 15pt;
}

.btn {
    -fx-background-color: #616b6b;
    -fx-padding: 6px 8px 6px 8px;
    -fx-text-fill: #eaece5;
    -fx-font-size: 12pt;
}